.timelineTitle {
  text-align: center;
  size: 50px;
  margin-top: 100px;
  margin-bottom: 50px;
}

.css-1fe7e6p-MuiTimelineSeparator-root {
  height: 200px !important;
}

.classYear {
  font-size: 20px !important;
}