.landingContainer {
  background-color: #06D6A0;
  width: 100%;
}

.bigLogo {
  padding-top: 150px;
  height: 250px;
  display: block;
  margin: auto !important;
}

.landing-title {
  font-size: 50px;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 50px 10px 200px 10px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}