.allProjectContainer {
  height: 500px !important;
  padding-bottom: 200px;
}

.allListContainer {
  height: 600px !important;
  width: 300px !important;
  margin: auto !important;
}

@media screen and (min-width: 570px) {
  .allListContainer {
    height: 300px !important;
    width: 900px !important;
    margin: auto !important;
    grid-template-columns: repeat(3, 1fr) !important;
  }
}