.projectContainer {
  padding-bottom: 200px;
}

.projectsTitle {
  text-align: center;
  font-size: 50px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.noDecor {
  text-decoration: none !important;
}

.linkIcon:hover {
  cursor: pointer !important;
}

.imgListContainer {
  height: 300px !important;
  width: 900px !important;
  margin: auto !important;
  grid-template-columns: repeat(3, 1fr) !important;
}