.navBgColor {
  background-color: #06D6A0 !important;
}

.logoMargins {
  margin: auto !important;
}

.toolbarPadding {
  padding-right: 20px !important;
}

.logo {
  height: 50px;
  width: 50px;
  padding-top: 10px;
}

.menuItem {
  text-decoration: none !important;
  color: #05668D;
}