.css-ciy9n4-MuiPaper-root-MuiAppBar-root {
  background-color: #06D6A0 !important;
}

.css-jzk4qw-MuiPaper-root-MuiAppBar-root {
  background-color: #06D6A0 !important;
}

.css-8u39c-MuiTypography-root {
  margin: auto !important;
}

.css-1t29gy6-MuiToolbar-root {
  padding-right: 55px !important;
}

.logo {
  height: 50px;
  width: 50px;
  padding-top: 10px;
}

.menuItem {
  text-decoration: none !important;
  color: #05668D;
}