.css-a8igs1-MuiButtonBase-root-MuiFab-root {
  color: white !important;
  background-color: #05668D !important;
}

.MuiTextField-root {
  width: 300px;
}

.messageInput {
  background-color: white;
  border: black solid 1px;
  border-radius: 10px;
  margin-left: 10px !important;
  margin-right: 40px !important;
  position: sticky;
  bottom: 75px;
}
