.css-a8igs1-MuiButtonBase-root-MuiFab-root {
  color: white !important;
  background-color: #05668D !important;
  float: right;
}

.MuiTextField-root {
  width: 300px;
}

.contactMeTitle {
  font-size: 30px;
  text-align: center;
  padding: 15px 0px 20px 0px;
}

.messageInput {
  background-color: white;
  border: rgb(201, 201, 201) solid 1px;
  border-radius: 10px;
  margin-left: 10px !important;
  margin-right: 40px !important;
  position: sticky;
  bottom: 75px;
}

@media screen and (min-width: 570px) {
  .messageInput {
    max-width: 320px;
    float: right;
    margin-right: 40px !important;
    bottom: 70px;
  }
}